﻿
@model List<Vicostone.Business.Models.Product>
@{
    Layout = null;
    var listProduct = Model;
   // var listProduct = (List<Project_Vicostone.Models.Product>)ViewBag.ListPartialViewProduct;
}
@if (listProduct != null && Model.Any())
{
    <div class="main-container product-detail">
        <div class="container">
            <div class="collection-name">
                <div class="products-grid gridMasonry clearfix" id="gridMasonry">
                    @foreach (var item in listProduct)
                    {
                        <div class="item grid-item col-xs-12 col-sm-6 col-md-4">
                            <div class="product-image">
                                <a href="@Url.Action("ProductDetail", "Home", new {id = item.Id})">
                                    <img src="@Url.Content(item.ProductImage)">
                                </a>
                                <div class="hover">
                                    <div class="name-product">
                                        <h4>@item.ProductName</h4>
                                        <span>@item.ProductCode</span>
                                    </div>
                                    <div class="g-social-link">
                                        <a target="_blank" href="https://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest-p"></i></a>
                                        <a data-href="http://vicostone.com/?sc_lang=vi-VN" data-layout="icon_link" data-size="small" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvicostone.com%2F%3Fsc_lang%3Dvi-VN&amp;src=sdkpreparse"><i class="fa fa-facebook-f"></i></a>
                                        <a target="_blank" href="http://twitter.com/share?url=http://vicostone.com/?sc_lang=vi-VN&text=something&via=c-sharp-corner"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

}
else
{
    <h1>Khong co data</h1>
}
