﻿@model IEnumerable<Vicostone.Business.Models.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container product-detail">
    <div class="collection-name">
        <div class="container">
            <h3 class="product-name-title">COLLECTION NAME</h3>
            <ul class="products-grid clearfix">
                @foreach (var item in Model)
                {
                    <li class="item col-md-3 col-sm-4 col-xs-6">
                        <div class="product-image">
                            <a class="" href="@Url.Action("ProductDetail", "Home", new {id = item.Id})">
                                <img class="lazy" src="@Url.Content(item.ProductImage)">
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <h4>@item.ProductName</h4>
                                    <span>@item.ProductCode</span>
                                </div>
                                <div class="g-social-link">
                                    <a target="_blank" href="https://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest-p"></i></a>
                                    <a data-href="http://vicostone.com/?sc_lang=vi-VN" data-layout="icon_link" data-size="small" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvicostone.com%2F%3Fsc_lang%3Dvi-VN&amp;src=sdkpreparse"><i class="fa fa-facebook-f"></i></a>
                                    <a target="_blank" href="http://twitter.com/share?url=http://vicostone.com/?sc_lang=vi-VN&text=something&via=c-sharp-corner"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <h3 class="product-name pull-left">@item.ProductName</h3>
                        </div>
                        <p>@item.ProductCode</p>
                    </li>
                }
            </ul>

            <img class="lazy" src="~/images/advantages3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/advantages3.jpg"width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"  />
            <img class="lazy" src="~/images/advantages1.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages1.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/advantages3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/advantages2.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages2.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/career3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/career3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages3.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages1.jpg" width="300" height="200"  />
            <img class="lazy" src="~/images/career3.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages1.jpg"width="300" height="200"   />
            <img class="lazy" src="~/images/advantages2.jpg" width="300" height="200"  />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });
</script>
