﻿
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Vicostone.Business.Models.Account

<div class="wrap-login">
    <div class="login-form">
        <h3>Forgot Password</h3>
        <p></p>
        <h5>If you Forgot Password account, please import Account and Email.</h5>
        <p></p>
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form">
                <div class="form-group">
                    <label for="email">Email Adress <span class="require">*</span></label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <button id="JSReset" type="submit" class="btn btn-default">Sent request</button>
                <script language="javascript">
                    if (@ViewBag.ToastReset != null) {
                        var button = document.getElementById("JSReset");
                        button.onclick = function(){
                            alert('@ViewBag.ToastReset');
                        }
                    }
                </script>
            </div>
        }
    </div>
</div>
