﻿@model List<Vicostone.Business.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container product-detail">
    <div class="container">
        <div class="collection-name">
            <h3 class="product-name-title">COLLECTION NAME</h3>
            <div class="products-grid gridMasonry clearfix" id="gridMasonry">
                @foreach (var item in Model)
                {
                    <div class="item grid-item col-xs-12 col-sm-6 col-md-4">
                        <div class="product-image">
                             @*<a href="@Url.Action("GalleryToDetail", "Gallery", new {id = item.ProductId})">*@
                            <a >
                                <img class="popupImage" alt="@item.Product.ProductName" src="@Url.Content(item.ImageGallery)" >
                            </a>
                            <div class="hover">
                                <div class="name-product">
                                    <a href="@Url.Action("GalleryToDetail", "Gallery", new {id = item.ProductId})">@item.Product.ProductName </a> <br/>
                                    <a href="@Url.Action("GalleryToDetail", "Gallery", new {id = item.ProductId})">@item.Product.ProductCode </a>
                                </div>
                                <div class="g-social-link">
                                    <a target="_blank" href="https://pinterest.com/pin/create/button/?url=&media=&description="><i class="fa fa-pinterest-p"></i></a>
                                    <a data-href="http://vicostone.com/?sc_lang=vi-VN" data-layout="icon_link" data-size="small" class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvicostone.com%2F%3Fsc_lang%3Dvi-VN&amp;src=sdkpreparse"><i class="fa fa-facebook-f"></i></a>
                                    <a target="_blank" href="http://twitter.com/share?url=http://vicostone.com/?sc_lang=vi-VN&text=something&via=c-sharp-corner"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="modalShowImage" class="modal-Image">
    <!-- The Close Button -->
    <span class="close">&times;</span>
    <!-- Modal Content (The Image) -->

    <img class="modal-content" id="img01">
    @*<span class="name_product">
        <a href="@Url.Action("GalleryToDetail", "Gallery", new {id = item.ProductId})">
            @item.Product.ProductName
        </a>
    </span>*@
    <div id="caption"></div>
</div>


<script type="text/javascript">
    $(function() {
        $("img.popupImage").lazyload({
            effect: "fadeIn"
        });
    });
</script>
