﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="../Login/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery.smartmenusbootstrap.css">
    <link rel="stylesheet" href="~/Content/css/mains.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.smartmenus.min.js"></script>
    <script src="~/Content/js/jquery.smartmenus.bootstrap.min.js"></script>
    <script src="~/Content/js/picturefill.min.js" async></script>
    <script src="~/Content/js/main.js"></script>
</head>
<body>
    <div class="login">
        <div class="banner text-white">
            <img src="~/images/banners/bn_register_375.jpg"
                 srcset="~/images/banners/bn_register_375.jpg 375w,
                 ~/images/banners/bn_register_480.jpg 480w,
                 ~/images/banners/bn_register_768.jpg 768w,
                 ~/images/banners/bn_register_1280.jpg 1280w,
                 ~/images/banners/bn_register.jpg 1920w"
                 sizes="100%" />
            <div class="banner-text">
                <div class="container">
                    <h2>Trade Partner Login</h2>
                    <p>
                        Trade partner portal brings supports to our trade partners including marketing materials,
                        HD product and application images, discount information...
                    </p>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
</div>
</body>
</html>
