﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    Đây là email từ hệ thống website vicostone. <br>
    :D :D :D :D :D<br />
    Bạn đã quên mật khẩu tài khoản : {{Email}} <br />
    mật khẩu mới của bạn là: {{Password}}<br />
    sau khi đăng nhập bạn hãy nhớ đặt lại mật khẩu.<br />

    hãy click vào link để đăng nhập : http://localhost:58251/Login/Login
</body>
</html>
