﻿.popupImage {

    border-radius: 5px;

    cursor: pointer;

    transition: 0.3s;

}
.popupImage:hover {opacity: 0.7;}
/* The Modal (background) */

.modal-Image {
    text-align: center;
    
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 9999; /* Sit on top */

    padding-top: 100px; /* Location of the box */

    left: 0;

    top: 0;

    width: 100%; /* Full width */

    height: 100%; /* Full height */

    overflow: auto; /* Enable scroll if needed */
    
    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
/* Modal Content (Image) */

.modal-Image .modal-content {

    margin: auto;

    display: block;

    width: 80%;

    max-width: 700px;

    margin-bottom: 20px;

}
/* Caption of Modal Image (Image Text) - Same Width as the Image */

.modal-Image #caption {

    margin: auto;

    display: block;

    width: 100%;

    max-width: 700px;

    text-align: center;

    color: #ccc;

    padding: 10px 0;

    height: 100px;

}
/* Add Animation - Zoom in the Modal */

.modal-Image .modal-content, .modal-Image #caption { 

    -webkit-animation-name: zoom;

    -webkit-animation-duration: 0.6s;

    animation-name: zoom;

    animation-duration: 0.6s;

}
@-webkit-keyframes zoom {

    from {-webkit-transform:scale(0)} 

    to {-webkit-transform:scale(1)}

}
@keyframes zoom {

    from {transform:scale(0)} 

    to {transform:scale(1)}

}
/* The Close Button */

.modal-Image .close {

    position: absolute;
    top: 30px;
    right: 500px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: white;
    color: #555555;
    opacity: 1;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 9999;
}
.modal-Image .name_product {
    font-size: 22px;
    color: white;
}
.modal-Image .close:hover,

.modal-Image .close:focus {

    color: #bbb;

    text-decoration: none;

    cursor: pointer;

}
/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px){

    .modal-Image .modal-content {

        width: 100%;

    }

} 