﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Vicostone.Business.Models.Contact
<style>
    #map-canvas {
        width: 100%;
        height: 600px;
    }
</style>

<div class="page">

    <!-- Start banner -->
    <div class="banner banner-contact">

        <img src="~/images/banners/contact_banner_375.jpg"
             srcset="~/images/banners/contact_banner_375.jpg 375w,
                            ~/images/banners/contact_banner_480.jpg 480w,
                 ~/images/banners/contact_banner_1280.jpg 1280w,
                 ~/ images/banners/contact_banner_768.jpg 768w,
                ~/images/banners/contact_banner.jpg 1920w"
             sizes="100%"
             alt="anh banner"/>

        <div class="banner-text text-grey">
            <div class="container">
                <h2>@StaticResources.Resources.ViewBagContactUs</h2>
                <p>
                    @StaticResources.Resources.ViewBagContactUsTitle
                </p>
            </div>
        </div>
    </div>
    <!-- End banner -->
    <!-- Start main -->
    <div class="main-container contact-us">
        <div class="container">
            <div class="clearfix">
                <div class="col-left col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                    <div class="contact-address">
                        <div class="page-title">
                            <h2>@StaticResources.Resources.ViewBagTitleContact</h2>
                        </div>
                        <div class="store">
                            <ul>
                                <li><img src="~/images/location.png">Hoa Lac Hi-tech Park, Thach Hoa Commune, Thach That District, Hanoi, Vietnam</li>
                                <li><img src="~/images/phone.png">+84 4 23 477 286 </li>
                                <li><img src="~/images/fax.png">+84 4 33 686 652</li>
                                <li><img src="~/images/open_letter.png">info@vicostone.com</li>
                            </ul>
                        </div><!--End a store-->
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-contact-info">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group last">
                                @Html.LabelFor(model => model.Distributor)
                                @Html.DropDownListFor(model => model.Distributor, new[]
                                {
                                    new SelectListItem() {Text = "Đại Lý"},
                                    new SelectListItem() {Text = "Bán lẻ"},
                                    new SelectListItem() {Text = "Bán sỉ"},
                                }, "Please choose", new {@class = "form-control"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Subject)
                                @Html.TextBoxFor(model => model.Subject, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Subject, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Message)
                                @Html.TextAreaFor(model => model.Message, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Message, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-captcha form-group clearfix">
                                <label for="captcha">CAPTCHA Code<span class="required">*</span></label>
                                <div class="clearfix">

                                    <div class="g-recaptcha" data-sitekey="6Ld44zQUAAAAAF4soraOcAf20Q686qphhxhUk-n5"></div>

                                </div>
                            </div>
                        </div>
                        <hr>

                        <script src='https://www.google.com/recaptcha/api.js'></script>

                        <div class="buttons-set">
                            <button type="submit" id="success" class="btn">@StaticResources.Resources.ContactSubmit</button>
                        </div>
                    }
                </div>

                <div class="col-right col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                    <div class="google-maps" id="map-canvas">

                        <script>
                            // This example displays a marker at the center of Australia.
                            // When the user clicks the marker, an info window opens.
                            function initMap() {
                                var uluru = { lat: 21.016639, lng: 105.781907 };
                                var map = new google.maps.Map(document.getElementById('map-canvas'), {
                                    zoom: 4,
                                    center: uluru
                                });
                                var contentString = 'Smart OSC tầng 18-Tòa nhà Hadico';

                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });

                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map,
                                    title: 'Địa chỉ'
                                });
                                marker.addListener('click', function() {
                                    infowindow.open(map, marker);
                                });
                            }
                        </script>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm50-90DBFqvjD_Lb7h0pVQu4X-TcJIx8&callback=initMap">
                        
                        </script>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End main -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] ||
            (b[l] =
                function() { (b[l].q = b[l].q || []).push(arguments) });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r);
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
</div>


<script type="text/javascript">
    if (@ViewBag.success != null) {
        alert("Thư của bạn đã được gửi đi. Xin cảm ơn.");
    }
</script>
<script type="text/javascript">
    if (@ViewBag.error != null) {
        alert("Xin hãy điền thông tin đầy đủ");
    }
</script>